<h2>Welcome Home</h2>

<p>
  The goal of this project is to act as a jump-start for prototyping new
  components with this custom Angular Material theme palette.
</p>

<p>
  A couple examples demoing usage of material components and how to use
  notifications have been added to the menu.
</p>

<h2>Get Started</h2>
<p>To start prototyping, fork this StackBlitz project and rename it.</p>
<p>
  Under the Examples module, create a component to render your custom component.
</p>
<p>Under the Shared folder, create your custom component.</p>
